@model IEnumerable<GeekBrainsShop.Domain.Employees.Footwear>
@{
    ViewBag.Title = "GeekBrainsShop";
}

    <div class="catalogs">
        @foreach (var item in Model)
        {            
            <div>
                <div>@item.Trademark.TrademarkName</div>
                <div><img src= "@item.ImageLink" alt=""></div>
                <div>@item.Price руб. 
                @if (item.SalePrice != null)
                {
                    <s>@item.SalePrice руб.</s>
                }
                </div>
            </div>
        }
    </div>