@{
    ViewBag.Title = "GeekBrainsShop";
}

    <div class="brands">
        <img src="~/Content/Images/brands/instreet.png" alt="instreet">
        <img src="~/Content/Images/brands/zenden.png" alt="zenden">
        <img src="~/Content/Images/brands/dixer.png" alt="dixer">
        <img src="~/Content/Images/brands/riker.png" alt="riker">
        <img src="~/Content/Images/brands/thomasmunz.png" alt="thomasmunz">
        <img src="~/Content/Images/brands/marcotozzi.png" alt="marcotozzi">
    </div>
    <div class="catalogs">
        <div>
            <div>Hrenden collection</div>
            <div><img src="~/Content/Images/classic_1_small.png" alt=""></div>
            <div>2100руб.<s>2800руб.</s></div>
        </div>
        <div>
            <div>Hrenden collection</div>
            <div><img src="~/Content/Images/classic_2_small.jpg" alt=""></div>
            <div>2800руб.</div>
        </div>
        <div>
            <div>Hrenden collection</div>
            <div><img src="~/Content/Images/classic_3_small.jpg" alt=""></div>
            <div>2500руб.</div>
        </div>
        <div>
            <div>Dixer</div>
            <div><img src="~/Content/Images/sport_1_small.jpg" alt=""></div>
            <div>1800руб.</div>
        </div>
    </div>