body 
{
 background-color:#f8f8f8;
 display:flex;
 flex-direction:column
}
.header 
{
 display:flex;
 justify-content:center
}
.header img 
{
 width:1075px
}
.body_style 
{
 display:flex;
 justify-content:space-evenly;
}
.menu 
{
 display:flex;
 margin:80px 0 0 0;
 width:150px;
 height:200px;
 justify-content:space-around;
 flex-direction:column
}

.brands 
{
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 align-items:center;
 margin:30px 0 20px 0;
 height:20px
}
.ul_menu 
{
 list-style-type:none;
 font-style:italic;
 font-size:20px;
 padding:0 20px;
 overflow:hidden;
 text-align:left
}
.ul_menu li [href] 
{
 color:green
}
.ul_menu li [href="#"] 
{
 color:gray
}
.ul_menu li [href]:hover 
{
 color:#adff2f
}
.ul_menu li [href="#"]:hover 
{
 color:#ccc
}
.container 
{
 width:800px;
 display:flex;
 flex-direction:column
}
.catalogs 
{
 display:flex;
 flex-direction:row;
 justify-content:flex-start;
 flex-wrap:wrap
}
.catalogs>a >div,.menu,.catalog div 
{
 border-radius:6px;
 border-style:solid;
 border-width:1px;
 border-color:#e2dede;
 background-color:#fff
}
.catalogs>a> div 
{
 width:220px;
 height:200px;
 justify-content:space-around;
 text-align:center;
 margin:10px;
 flex-direction:column;
 display:flex;
 text-shadow:2px 2px 2px grey
}

.catalogs > a[href] 
{
  
  text-decoration: black;
  color: black;
}

#Hrenden 
{
 width:582px;
 height:86px;
 float:left
}
H3 
{
 color:#000;
 font-size:18px;
 font-weight:400;
 background-color:#eaeaea
}
.listDesc 
{
 list-style-type:decimal
}
.SDescription 
{
 color:#707070;
 font-size:14px;
 font-style:italic;
 line-height:16px
}
.Description 
{
 color:#484343;
 font-size:16px;
 font-weight:400;
 line-height:24px;
 text-align:left
}
.formStyle 
{
 color:green;
 font-size:13px;
 font-weight:400
}
.formStyle [type="text"],.formStyle [name="TextArea"] 
{
 color:#00b703;
 font-size:16px;
 font-weight:100;
 font-style:italic;
 text-transform:capitalize
}
.IMGborder 
{
 border:2px solid #000
}
.formStyle [name="Email"]:focus 
{
 background-color:gray;
 color:#ffd700
}
table,td,th 
{
 width:350px;
 border:1px solid grey
}
td 
{
 text-align:left
}
footer 
{
 height:250px;
 text-align:center;
 background-color:#3d3d3d;
 color:#fff;
 font-family:'Myriad Pro'
}
.catalog div 
{
 padding:5px;
 margin:5px
}
body>footer:nth-child(4)>p:nth-child(1) 
{
 font-size:40px
}
body>footer>p 
{
 margin:28px
}
.catalogs 
{
 font-weight:900
}
.catalog 
{
 display:flex;
 justify-content:flex-start;
 flex-wrap:wrap
}
.SalePrice 
{
 color:red
}
.TradeMark 
{
 display:flex;
 justify-content:flex-end;
 max-height:22px;
 z-index:3
}
.TradeMark>div:nth-child(1) 
{
 width:20%
}
.TradeMark>div:nth-child(2) 
{
 width:60%
}
.TradeMark>div:nth-child(3) 
{
 width:20%
}
.image img 
{
 -moz-transition:all 1s ease-out;
 -o-transition:all 1s ease-out;
 -webkit-transition:all 1s ease-out
}
.image img:hover 
{
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -o-transform:scale(1.1)
}

/****** Основное меню ************/

    #nav, #nav ul 
    {
        list-style: none; /* убираем маркер списка */
        padding: 0; /* обнуляем внутренние отступы */
    }

        #nav ul 
        {
            position: relative; /* относительное позиционирование (для работы z-index) */
            z-index: -1; /* используем отрицательное значение чтобы подменю не отображались поверх основных пунктов*/
        }

        #nav li 
        {
            position: relative; /* относительное позиционирование (для работы z-index) */
            z-index: 100; /* располагаем выше элементы списка (подменю) */
        }

        /* раскрытые пункты подменю плавно сворачиваются */
        #nav ul li 
        {
            margin-top: -23px; /* устанавливаем отрицательный отступ от верхнего края для скрытия подменю */
            -moz-transition: 0.4s linear 0.4s; /* для Firefox 4 */
            -ms-transition: 0.4s linear 0.4s; /* для IE */
            -o-transition: 0.4s linear 0.4s; /* для Опера */
            -webkit-transition: 0.4s linear 0.4s; /* для Chrome и Safari */
            transition: 0.4s linear 0.4s; /* указываем параметры анимированного перехода */
        }

        #nav li a 
        {
            background-color: #fff; /* цвет фона для нашего меню (белый) */
            color: #000; /* цвет шрифта (черный) */
            display: block; /* отображаем как блок */
            font-size: 16px; /* размер шрифта */
            font-weight: bold; /* делаем шрифт жирным */
            line-height: 28px; /* межстрочный интервал */
            outline: 0; /* убираем внешней границы */
            padding-left: 15px; /* назначаем левый отступ */
            text-decoration: none; /* убираем подчеркивание у ссылок меню */
            cursor: pointer; /* вид курсора */
        }

            /* стрелочка вниз */
            #nav li a.sub 
            {
                background: #fff url("../images/down.gif") no-repeat;
            }

            /* оформление пунктов меню (стрелочка вверх при раскрытии) */
            #nav li a + img 
            {
                cursor: pointer; /* вид курсора */
                display: none; /* скрывает отображение (устраняет накладку) */
                width: 200px; /* ширина */
                height: 28px; /* высота */
                left: 0; /* положение от левого края */
                position: absolute; /* позиционируем */
                top: 0; /* положение от верха */
            }

            /* оформление пунктов меню (картинка большого квадратика) */
            #nav li a img 
            {
                border-width: 0px; /* убираем толщину границ */
                width: 24px; /* ширина */
                height: 24px; /* высота */
                line-height: 28px; /* межстрочный интервал */
                margin-right: 8px; /* отступа от правого края */
                vertical-align: middle; /* выравнивание */
            }

            /* параметры основных пунктов меню */
            #nav li a:hover 
            {
                background-color: #bcbdc1; /* цвет фона */
            }

        /* параметры для подменю */
        #nav ul li a 
        {
            background-color: #eee; /* цвет фона */
            border-bottom: 1px solid #ccc; /* линия толщиной в 1px серого цвета внизу подменю */
            color: #000; /* шрифт (белый) */
            font-size: 11px; /* размер шрифта */
            line-height: 22px; /* задаем межстрочный интервал */
        }

            /* параметры при наведении указателя на пункты (ссылки) подменю */
            #nav ul li a:hover 
            {
                background-color: #ddd; /* цвет фона */
                color: #993300; /* цвет ссылок при наведении курсора */
            }

            #nav ul li a img 
            {
                background: url("../images/small.png") no-repeat; /* рисунок "маленький квадратик" для подпунктов меню */
                width: 16px; /* ширина рисунка */
                height: 16px; /* высота рисунка */
                border-width: 0px; /* обнуляем толщину границы для всех сторон  */
                line-height: 22px; /* задаем межстрочный интервал */
                margin-right: 5px; /* отступа от правого края */
                vertical-align: middle; /* выравниваем по вертикали */
            }

        /* при клике мышкой на раскрывающееся меню */
        #nav a.sub:focus 
        {
            background: #bcbdc1; /* фон, который закрывает стрелочку "вниз" */
            outline: 0; /* убираем внешней границы */
        }

        /* делаем раскрытие пунктов меню более плавным */
        /* посмотрите как будет раскрываться список подменю, изменив время к примеру с 0.4s до 33.4s */
        #nav a:focus ~ ul li 
        {
            margin-top: 0;
            -moz-transition: 0.4s linear; /* для Firefox 4 */
            -ms-transition: 0.4s linear; /* для IE */
            -o-transition: 0.4s linears; /* для Опера */
            -webkit-transition: 0.4s linears; /* для Chrome и Safari */
            transition: 0.4s linear; /* указываем параметры анимированного перехода */
        }

        /* для показа стрелочки "вверх" после клика */
        #nav a:focus + img, #nav a:active + img 
        {
            display: block; /* показываем как блочные элементы */
        }